<p id="notice"><%= notice %></p>
<div class="home_body" style="margin:0 auto; background:0; display: block;">
	<div class="conts_section" style="padding:0 20px; position: relative; width:1008px; margin:0 auto;">
		<div class="conts" style="padding: 20px 0 0 0; position: relative; z-index:10; display: block; width:1008px; min-height:800px; zoom:1;">
			<div class="album" style="position: relative; z-index:5; width: 476px; height:340px; float:left;">
				<h2 style ="height: 24px;color: #1a1a1a;font-size: 15px;line-height: 15px;letter-spacing: -1px;font-weight: bold; float:left;">
					<span style ="width: 70px;height: 15px;display: block;">앨범</span>
				</h2>
				<div class="album" style = "position:absolute; top:23px; left:-2px; width:480px; height:340px;">
					<ul class="albums" style="left:0px; position:absolute; top:0; width: 480px; margin: -2px 0 0 -3px;">
						<li style="position: relative;display: inline;float: left;height: 156px;margin: 3px 0 0 4px;padding: 0;background: 0;">
							<dl>
								<dd class="img">
									<span style= "display: block;overflow: hidden;width: 156px;height: 156px;font-size: 0;line-height: 0;">
										<img style="width:156px; aspect-ratio: auto 156/155; height:155px;" src="https://cdnimg.melon.co.kr/cm2/album/images/111/11/426/11111426_20221128100052_500.jpg/melon/quality/80/resize/156/optimize">
									</span>
								</dd>
								<dd style="display:block; position:absolute; bottom:0; height:22px; padding-top: 8px; text-align:center; width:156px; background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_frame.png) no-repeat 0 -682px;">
									<div style="display: inline-block; overflow: hidden; max-width:118px; color:#fff; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">
										<span>Red Hot Chili Peppers</span>
									</div>
								</dd>
							</dl>
						</li>
						<li style="position: relative;display: inline;float: left;height: 156px;margin: 3px 0 0 4px;padding: 0;background: 0;">
							<dl>
								<dd>
									<span style="display: block;overflow: hidden;width: 156px;height: 156px;font-size: 0;line-height: 0;">
										<img style="width:156px; aspect-ratio: auto 156/155; height:155px;" src="https://cdnimg.melon.co.kr/cm2/album/images/111/10/437/11110437_20221125093545_500.jpg/melon/quality/80/resize/156/optimize">
									</span>
								</dd>
								<dd style="display:block; position:absolute; bottom:0; height:22px; padding-top: 8px; text-align:center; width:156px; background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_frame.png) no-repeat 0 -682px;">
									<div style="display: inline-block; overflow: hidden; max-width:118px; color:#fff; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">
										<span>Stormzy</span>
									</div>
								</dd>
							</dl>
						</li>
						<li style="position: relative;display: inline;float: left;height: 156px;margin: 3px 0 0 4px;padding: 0;background: 0;">
							<dl>
								<dd>
									<span style="display: block;overflow: hidden;width: 156px;height: 156px;font-size: 0;line-height: 0;">
										<img style="width:156px; aspect-ratio: auto 156/155; height:155px;" src="https://cdnimg.melon.co.kr/cm2/album/images/111/06/473/11106473_20221121120144_500.jpg/melon/quality/80/resize/156/optimize">
									</span>
								</dd>
								<dd style="display:block; position:absolute; bottom:0; height:22px; padding-top: 8px; text-align:center; width:156px; background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_frame.png) no-repeat 0 -682px;">
									<div style="display: inline-block; overflow: hidden; max-width:118px; color:#fff; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">
										<span>Quarry</span>
									</div>
								</dd>
							</dl>
						</li>
					<li style="position: relative;display: inline;float: left;height: 156px;margin: 3px 0 0 4px;padding: 0;background: 0;">
							<dl>
								<dd>
									<span style="display: block;overflow: hidden;width: 156px;height: 156px;font-size: 0;line-height: 0;">
										<img style="width:156px; aspect-ratio: auto 156/155; height:155px;" src="https://cdnimg.melon.co.kr/cm2/album/images/111/10/866/11110866_20221125140909_500.jpg/melon/quality/80/resize/156/optimize">
									</span>
								</dd>
								<dd style="display:block; position:absolute; bottom:0; height:22px; padding-top: 8px; text-align:center; width:156px; background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_frame.png) no-repeat 0 -682px;">
									<div style="display: inline-block; overflow: hidden; max-width:118px; color:#fff; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">
										<span>Taylor Swift</span>
									</div>
								</dd>
							</dl>
						</li>
						<li style="position: relative;display: inline;float: left;height: 156px;margin: 3px 0 0 4px;padding: 0;background: 0;">
							<dl>
								<dd>
									<span style="display: block;overflow: hidden;width: 156px;height: 156px;font-size: 0;line-height: 0;">
										<img style="width:156px; aspect-ratio: auto 156/155; height:155px;" src="https://cdnimg.melon.co.kr/cm2/album/images/111/07/231/11107231_20221122104457_500.jpg/melon/quality/80/resize/156/optimize">
									</span>
								</dd>
								<dd style="display:block; position:absolute; bottom:0; height:22px; padding-top: 8px; text-align:center; width:156px; background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_frame.png) no-repeat 0 -682px;">
									<div style="display: inline-block; overflow: hidden; max-width:118px; color:#fff; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">
										<span>HVME, Velix</span>
									</div>
								</dd>
							</dl>
						</li>
						<li style="position: relative;display: inline;float: left;height: 156px;margin: 3px 0 0 4px;padding: 0;background: 0;">
							<dl>
								<dd>
									<span style="display: block;overflow: hidden;width: 156px;height: 156px;font-size: 0;line-height: 0;">
										<img style="width:156px; aspect-ratio: auto 156/155; height:155px;" src="https://cdnimg.melon.co.kr/cm2/album/images/111/08/260/11108260_20221123102428_500.jpg/melon/quality/80/resize/156/optimize">
									</span>
								</dd>
								<dd style="display:block; position:absolute; bottom:0; height:22px; padding-top: 8px; text-align:center; width:156px; background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_frame.png) no-repeat 0 -682px;">
									<div style="display: inline-block; overflow: hidden; max-width:118px; color:#fff; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">
										<span>NoCap</span>
									</div>
								</dd>
							</dl>
						</li>
					</ul>
					<div class="event" style="position: relative;width: 236px;float: left;height: 340px; margin-left:485px; margin-top:-23px;">
						<div class="event_default" style="position: absolute;overflow: hidden;width: 236px;height: 315px;top: 24px;z-index: 1;">
							<a style="position: absolute;width: 236px;height: 315px; display:block;">
								<img style="width: 236px;aspect-ratio: auto 236 / 315;height: 315px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221125065349.png/melon/quality/80">
								<span style="    position: absolute;top: 0;left: 0;width: 236px;height: 315px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_frame.png) no-repeat 0 0;
"></span>
							</a>
						</div>
						
					
						<!--          로그인 된부분           -->
						<% if user_signed_in? %>
						<div class = "id_wrap" style="position: relative;border: 1px solid #d8dadb;background-color: #f9f9f9;width: 278px;height: 117px; margin-left:245px;margin-top:24px;">
							<div class="info" style="height:30px; padding:10px 6px 0 6px; background:#f3f3f3">
								<strong>
								<span style="display: inline-block;width: auto;max-width: 92px;margin: -2px 0 0 0;padding: 0;padding-top: 2px;padding-bottom: 1px;white-space: nowrap;text-overflow: ellipsis;word-wrap: normal;overflow: hidden;vertical-align: top;"><%= current_user.name %></span>
									님</strong>
								<!--    내정보    -->
								<a href = "/users/edit" style="margin: 0 0 0 1px;padding: 2px 0 0;font-size: 11px;color: #7d7d7d;">
									<span>내정보</span>
								</a>
								<span style="float: right;width: 48px;margin: 0;padding: 1px 5px 0 5px;border: 1px solid #d9d9d9;line-height: 17px;background-color: #fff;letter-spacing: -1px;text-decoration: none;"><%= link_to("로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } )%></span>
							</div>
							<div class="music_used" style="border-top: 1px solid #d8dadb;">
								<strong style="    display: block;margin: 0 15px;padding: 14px 0 7px 7px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_dot_01.png) no-repeat left 21px;font-weight: normal;vertical-align: top;">
								<span style="display:block;"></span>
									<% if @pay_t%>
									<strong style="    display: inline-block;width: auto;max-width: 190px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: top;"><span>스트리밍클럽</span></strong>사용중
							
								<% else%>
								<strong style="    display: inline-block;width: auto;max-width: 190px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: top;"><span>결제 후 </span></strong> 이용 가능
								</strong>
								<%end%>
								<ul style="overflow: hidden;zoom: 1;padding-left: 15px;padding-top: 7px;">
									<li style="width:82px;float: left;padding: 0 10px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_dot_01.png) no-repeat left 5px;line-height: 13px;">
									<span style="color: #888;line-height: 0;">
										<span style="    background-position: -28px -115px;height: 11px;margin-top: 0;font-size: 0;display: inline-block;width: 20px; background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_loce_190625.png) no-repeat left -115px;vertical-align: top;">쿠폰</span>
										<span style="display: inline-block;padding-left: 5px;color: #333;font-size: 11px;line-height: 13px;vertical-align: top;">0</span>
										</span>
									</li>
								</ul>
							</div>
						</div>
						<div style="position: absolute;width: 280px;height: 188px;margin-top: 145px; margin-left:245px;">
						<ul style="width:280px;height: 196px;position: relative; overflow: hidden;">
							<li style="position: absolute; height: 188px;margin-top:8px;">
								<img style=" width: 280px;aspect-ratio: auto 280 / 188;height: 188px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221125105124.jpg/melon/quality/80">
							</li>
						</ul>
					</div>
					</div>
					<div class="chart" style="width: 280px;float: left; margin-left:733px;height: 472px;margin-top: 32px;">
							<h2 style="height: 24px;color: #1a1a1a;font-size: 15px;line-height: 15px;letter-spacing: -1px;font-weight: bold;">
								<a href="/tacks" style="float: left;width: 70px;height: 15px;display: block;">멜론 차트</a>
								<span style="float:right; font-size:13px;"><%= Time.new.strftime("%Y.%m.%d") %>
								<h4 style="float:right; padding-left:2px;font-size:10px;">기준</h4></span>
							</h2>
							<div class="wrap_chart_tab" style="position:relative;zoom: 1;">
								<a style="position: absolute;z-index: 1;margin-top: -1px;padding-top: 15px;border-top: 2px solid #8ac121;display: block;width: 278px;height: 28px;text-align: center;border-left:1px solid #8ac121; border-right:1px solid #8ac121; border-bottom:1px solid #8ac121;">
								<span style="font-weight:bold; font-size:15px;">TOP100</span></a>
								<div class="chart" style="width: 278px;position: absolute;border: 1px solid #dfe6e8;border-width: 0 1px;display: block;margin-left:-0px; height:341px;margin-top:45px;">
									<ul style="border-top: 1px solid #d8ddde;">
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -445px;">1</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">사건의 지평선</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">윤하 (YOUNHA)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="background-position: 0 -478px;display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -478px;">2</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">ANTIFRAGILE</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">LE SSERAFIM (르세라핌)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -509px;">3</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">Hype boy</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">NewJeans</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -540px;">4</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">Nxde</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">(여자)아이들</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -571px;">5</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">After LIKE</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">IVE (아이브)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -602px;">6</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">사랑은 늘 도망가</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -633px;">7</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">새삥 (Prod. ZICO) (Feat. 호미들)</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">지코 (ZICO)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -664px;">8</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">우리들의 블루스</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -695px;">9</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">London Boy</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -726px;">10</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">Polaroid</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<% else %>
						<!--        로그인 안한부분       -->
					<div class = "id_wrap" style=" width: 280px; margin-left:245px; height:316px; margin-top:24px;float: left;">
							<div class= "login_wrap" style=" position: relative; width:280px; height:119px;">
								<div class="button_login" style=" height:115px; padding:0 17px; border: 1px solid #e0e0e0; background:#fbfbfb; text-align: center;">
									<div style="padding: 24px 0 7px; overflow:hidden;">
										<p style=" float:left; color: #939393; font-size: 11px; letter-spacing: -0.5px;">
											멜론을 더 안전하게 이용하세요
										</p>
										<!--      회원가입 버튼     -->
										<a href="" style="float: right;color: #818181;font-size: 11px;letter-spacing: -0.5px;" >회원가입</a>
									</div>
									<!--       로그인 버튼      -->
									<button class="btn_login" type ="button" style="width: 100%;height: 42px;background-color: #00d344;color: #fff;font-size: 14px;">
										<span style="display:block; position:relative;color: #fff;"><%= link_to("로그인", new_user_session_path) %></span>
									</button>
								</div>
						</div>
						<div style="position: relative;width: 280px;height: 188px;margin-top: 8px;">
						<ul style="width:280px;height: 188px;position: relative; overflow: hidden;">
							<li style="position: absolute; height: 188px;">
								<img style="width: 280px;aspect-ratio: auto 280 / 188;height: 188px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221125105124.jpg/melon/quality/80">
							</li>
						</ul>
					</div>
						<div class="chart" style="width: 280px;float: left;margin-left:1px;height: 472px;margin-top: 32px;">
							<h2 style="height: 24px;color: #1a1a1a;font-size: 15px;line-height: 15px;letter-spacing: -1px;font-weight: bold;">
								<a href="/tacks" style="float: left;width: 70px;height: 15px;display: block;">멜론 차트</a>
								<span style="float:right; font-size:13px;"><%= Time.new.strftime("%Y.%m.%d") %>
								<h4 style="float:right; padding-left:2px;font-size:10px;">기준</h4></span>
							</h2>
							<div class="wrap_chart_tab" style="position:relative;zoom: 1;">
								<a style="position: absolute;z-index: 1;margin-top: -1px;padding-top: 15px;border-top: 2px solid #8ac121;display: block;width: 278px;height: 28px;text-align: center;border-left:1px solid #8ac121; border-right:1px solid #8ac121; border-bottom:1px solid #8ac121;">
								<span style="font-weight:bold; font-size:15px;">TOP100</span></a>
								<div class="chart" style="width: 278px;position: absolute;border: 1px solid #dfe6e8;border-width: 0 1px;display: block;margin-left:-0px; height:341px;margin-top:45px;">
									<ul style="border-top: 1px solid #d8ddde;">
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -445px;">1</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">사건의 지평선</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">윤하 (YOUNHA)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="background-position: 0 -478px;display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -478px;">2</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">ANTIFRAGILE</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">LE SSERAFIM (르세라핌)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -509px;">3</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">Hype boy</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">NewJeans</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -540px;">4</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">Nxde</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">(여자)아이들</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -571px;">5</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">After LIKE</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">IVE (아이브)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -602px;">6</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">사랑은 늘 도망가</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -633px;">7</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">새삥 (Prod. ZICO) (Feat. 호미들)</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">지코 (ZICO)</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -664px;">8</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">우리들의 블루스</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #fff;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -695px;">9</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">London Boy</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
										<li style="background: #f8f8f8;position: relative;width: 278px;height: 33px;border-bottom: 1px solid #e9edef;font-size: 0;line-height: 0;">
											<div style="float: left;width: 71px; overflow:hidden;">
												<h1 style="display: inline-block;float: left;width: 34px;height: 13px;margin: 9px 0 0 5px;background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -726px;">10</h1>
												<span style="overflow:hidden; width:25px;">위</span>
											</div>
											<div style="float:left; width:207px; padding-top:10px;">
												<p style="    float: left;width: 120px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
													<span style="    display: inline-block;width: auto;max-width: 100px;overflow: hidden;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">Polaroid</span>
													
												</p>
												<div style="float:left; width:74px; margin-left: 1px;">
													<div style="display: block;overflow: hidden;float: left;max-width: 100%;font-size: 12px;line-height: 15px;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;">
														<span style="font-size: 12px;line-height: 15px;">임영웅</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					
						
						</div>
					<div class="hot_issue" style="clear: both;width: 704px;position: relative;float: left;height: 472px;margin-top: 32px;margin-bottom: 49px;">
						<h2 style="height: 24px;color: #1a1a1a;font-size: 15px;line-height: 15px;letter-spacing: -1px;font-weight: bold;">
							<span style="float: left;width: 70px;height: 15px;display: block;">인기있어요</span>
							<span style="display: inline-block;width: 300px;margin-top: 1px;padding-left: 12px;letter-spacing: 0;font-weight: normal;color: #888;font-size: 12px;background: 0;vertical-align: top;">지금 이슈가 되는 아티스트의 인기 컨텐츠입니다.</span>
						</h2>
						<ul style="display:block; ">
							<li style="clear:both; width:704px; ">
							<dl style="position:relative; margin:16px 0 2px 16px; float:left;margin-left:-1px;">
								<dd style="width:223px; height:148px;">
									<img style="width:223px; height:148px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221128014732.jpg/melon/quality/80">
								</dd>
								<dt style="width:223px; line-height:16px;">
									<span style="display: block;overflow: hidden;height: 16px;font-weight: bold;color: #333;margin-top: 6px;margin-bottom: 2px;word-break: break-all;">[비하인드 컷] 경찰과 소방의 공동</span>
									<span style="display: block;width: 223px;height: 16px;overflow: hidden;word-break: break-all;">대응 현장 일지! 첸 (CHEN)</span>
								</dt>
								<dd style="margin-top: 2px;font-size: 11px;color: #888;height: 14px;">
								<span>
									<span style="padding-right: 6px;margin-right: 5px;color: #7cb710;">멜론매거진</span>
									<span style="color: #888;">조회 961</span>
								</span>
								</dd>
							</dl>
								<dl style="position:relative; margin:16px 0 2px 16px; float:left;">
								<dd style="width:223px; height:148px;">
									<img style="width:223px; height:148px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221128014737.jpg/melon/quality/80">
								</dd>
								<dt style="width:223px; line-height:16px;">
									<span style="display: block;overflow: hidden;height: 16px;font-weight: bold;color: #333;margin-top: 6px;margin-bottom: 2px;word-break: break-all;">[위클리 뮤직 뉴스] 다른 누구도</span>
									<span style="display: block;width: 223px;height: 16px;overflow: hidden;word-break: break-all;">아닌, 나 자신을 위한 음악</span>
								</dt>
								<dd style="margin-top: 2px;font-size: 11px;color: #888;height: 14px;">
								<span>
									<span style="padding-right: 6px;margin-right: 5px;color: #7cb710;">멜론매거진</span>
									<span style="color: #888;">조회 641</span>
								</span>
								</dd>
							</dl>
								<dl style="position:relative; margin:16px 0 2px 16px; float:left;">
								<dd style="width:223px; height:148px;">
									<img style="width:223px; height:148px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221128014741.jpg/melon/quality/80">
								</dd>
								<dt style="width:223px; line-height:16px;">
									<span style="display: block;overflow: hidden;height: 16px;font-weight: bold;color: #333;margin-top: 6px;margin-bottom: 2px;word-break: break-all;">[위클리 뮤직 뉴스] 한 눈에 보는</span>
									<span style="display: block;width: 223px;height: 16px;overflow: hidden;word-break: break-all;">11월 넷째 주 빌보드 소식</span>
								</dt>
								<dd style="margin-top: 2px;font-size: 11px;color: #888;height: 14px;">
								<span>
									<span style="padding-right: 6px;margin-right: 5px;color: #7cb710;">멜론매거진</span>
									<span style="color: #888;">조회 1,056</span>
								</span>
								</dd>
							</dl>
							<dl style="position:relative; margin:16px 0 2px 16px; float:left;margin-left: 0 !important;">
								<dd style="width:223px; height:148px;">
									<img style="width:223px; height:148px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221128014748.png/melon/quality/80">
								</dd>
								<dt style="width:223px; line-height:16px;">
									<span style="display: block;overflow: hidden;height: 16px;font-weight: bold;color: #333;margin-top: 6px;margin-bottom: 2px;word-break: break-all;">[Melon Data Lab] 겨울의</span>
									<span style="display: block;width: 223px;height: 16px;overflow: hidden;word-break: break-all;">문턱에 찾아온 K팝 레전드 데이터</span>
								</dt>
								<dd style="margin-top: 2px;font-size: 11px;color: #888;height: 14px;">
								<span>
									<span style="padding-right: 6px;margin-right: 5px;color: #7cb710;">멜론매거진</span>
									<span style="color: #888;">조회 1,639</span>
								</span>
								</dd>
							</dl>
								<dl style="position:relative; margin:16px 0 2px 16px; float:left;">
								<dd style="width:223px; height:148px;">
									<img style="width:223px; height:148px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221128014753.jpg/melon/quality/80">
								</dd>
								<dt style="width:223px; line-height:16px;">
									<span style="display: block;overflow: hidden;height: 16px;font-weight: bold;color: #333;margin-top: 6px;margin-bottom: 2px;word-break: break-all;">[매거진 이벤트] 세계적인 클래식</span>
									<span style="display: block;width: 223px;height: 16px;overflow: hidden;word-break: break-all;">음악가들은 어떻게 녹음할까?</span>
								</dt>
								<dd style="margin-top: 2px;font-size: 11px;color: #888;height: 14px;">
								<span>
									<span style="padding-right: 6px;margin-right: 5px;color: #7cb710;">멜론매거진</span>
									<span style="color: #888;">조회 4,991</span>
								</span>
								</dd>
							</dl>
								<dl style="position:relative; margin:16px 0 2px 16px; float:left;">
								<dd style="width:223px; height:148px;">
									<img style="width:223px; height:148px;" src="https://cdnimg.melon.co.kr/svc/images/main/imgUrl20221128014758.jpg/melon/quality/80">
								</dd>
								<dt style="width:223px; line-height:16px;">
									<span style="display: block;overflow: hidden;height: 16px;font-weight: bold;color: #333;margin-top: 6px;margin-bottom: 2px;word-break: break-all;">[매거진 이벤트] 쓸쓸한 크리스마스</span>
									<span style="display: block;width: 223px;height: 16px;overflow: hidden;word-break: break-all;">6년 만에 캐럴로 돌아온 이현우</span>
								</dt>
								<dd style="margin-top: 2px;font-size: 11px;color: #888;height: 14px;">
								<span>
									<span style="padding-right: 6px;margin-right: 5px;color: #7cb710;">멜론매거진</span>
									<span style="color: #888;">조회 274</span>
								</span>
								</dd>
							</dl>
							</li>
							
						</ul>
						
					</div>
					
				</div>
			</div>
			
		</div>

