<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @play_list.user %>
</p>

<p>
  <strong>Track:</strong>
  <%= @play_list.track %>
</p>

<%= link_to 'Edit', edit_play_list_path(@play_list) %> |
<%= link_to 'Back', play_lists_path %>
